.colorFormat {
    box-shadow: 1px;
    width: 100px;
    height:40px;
}

.colorBox {
    width:20%;
    height:calc(25vh - 15px);
    float:left;
    color:white;
    cursor:pointer;
    position: relative;
    transition: 1s;
}

.colorBox:hover{
    opacity:0.8;
}

.colorName {
    font-weight: 300;
    position: absolute;
    bottom:5px;
    right:10px;
}

.colorCopyButton {
    width:50%;
    height:50px;
    line-height: 50px;
    background: transparent;
    border:1px solid white;
    color:white;
    padding:0;
    border-radius: 5px;
    margin-left:25%;
    cursor:pointer;
    position: absolute;
    top:calc(50% - 25px);
}